USE [DBMON]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_HOSTNAME_NOTNUMERIC]    Script Date: 2014-11-10 오후 4:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_HOSTNAME_NOTNUMERIC] (@h_num VARCHAR(200))
RETURNS VARCHAR(200)
AS
BEGIN
	DECLARE @H_NUM_LAST VARCHAR(200)
	SET @H_NUM_LAST = ''

	DECLARE @H_NUM_LEN SMALLINT
	SET @H_NUM_LEN = LEN(@H_NUM)

	DECLARE @COUNT SMALLINT
	SET @COUNT = 1

	WHILE @COUNT <= @H_NUM_LEN
	BEGIN 
	DECLARE @TEMP_STR CHAR(1)
	SET @TEMP_STR = SUBSTRING(@H_NUM, @COUNT, 1)

	IF NOT ((ASCII(@TEMP_STR) >= 48) AND (ASCII(@TEMP_STR) <= 57))
	BEGIN
		SET @H_NUM_LAST = @H_NUM_LAST + @TEMP_STR
	END
		SET @COUNT = @COUNT + 1
	END

	RETURN UPPER(@H_NUM_LAST)
END

GO
