USE [DBMON]
GO
/****** Object:  StoredProcedure [dbo].[UP_DBA_SWAT_MONITORING]    Script Date: 2014-11-10 오후 4:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UP_DBA_SWAT_MONITORING]
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		REPLACE(COUNTER_NAME, ' ', '') AS COUNTER_NAME
	,	CNTR_VALUE
	FROM sys.dm_os_performance_counters (NOLOCK)
	WHERE COUNTER_NAME IN ('USER CONNECTIONS', 'Processes blocked');
END

GO
