USE [DBMON]
GO
/****** Object:  StoredProcedure [dbo].[UP_MON_COLLECT_QUERY_PLAN_DELETE_V3]    Script Date: 2014-11-10 오후 4:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UP_MON_COLLECT_QUERY_PLAN_DELETE_V3]
AS
SET NOCOUNT ON

DECLARE @DATE DATETIME

SET @DATE = DATEADD(HOUR, -12, DATEADD(DAY, -8, GETDATE()))

DELETE DBMON.DBO.DB_MON_QUERY_PLAN_V3 WHERE UPD_DATE <= @DATE



GO
