USE [DBMON]
GO
/****** Object:  StoredProcedure [dbo].[up_db_mon_create_objects_select]    Script Date: 2014-11-10 오후 4:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[up_db_mon_create_objects_select]
	@INS_DATE DATETIME = NULL
AS

	IF @INS_DATE IS NULL 
		SET @INS_DATE = DATEADD(DD,-2, CONVERT(CHAR(10),GETDATE(),121))

	SELECT SEQ_NO, INS_DATE, LOGIN_NAME,EVENT_TYPE,OBJECT_TYPE, SERVER_NAME,DATABASE_NAME,
		   SCHEMA_NAME,OBJECT_NAME,EVENT_DDL,HOST_NAME,IPADDRESS
	FROM DBMON.DBO.DB_MON_CREATE_OBJECTS WITH(NOLOCK)
	WHERE  INS_DATE > @INS_DATE
		AND OBJECT_NAME NOT LIKE 'TB%'
		AND OBJECT_NAME NOT LIKE 'TEMP%'
		AND OBJECT_NAME NOT LIKE 'TMP%'
		AND OBJECT_NAME NOT LIKE 'MKTG_TARGET%'
		AND OBJECT_NAME NOT LIKE 'TARGET%'
		AND OBJECT_NAME NOT LIKE 'IMPORT%'
		AND OBJECT_NAME NOT LIKE 'EXTERNAL%'
		AND OBJECT_NAME NOT LIKE 'T_TARGET%'
		AND OBJECT_NAME NOT LIKE '%_TEMP%'
		AND OBJECT_NAME NOT LIKE '%DB_MON%'
ORDER BY INS_DATE DESC
GO
